{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
<h1>Médicos</h1>

{# Mostrar mensaje flash de éxito #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

<table>
    <tr>
		<th>Nombre</th>
	</tr>
	{% for medico in medicos %}
        <tr>
			<td>{{ medico.nombre }}</td>
			<td></td>
			<td></td>
		</tr>
    {% endfor %}
</table>


{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}