{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
<h1>Gestión de médicos</h1>

<p>CRUD en construcción</p>

{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}