<table>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
    </tr>
    <tr>
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellidos}}</td>
        <td>{{persona.edad}}</td>
    </tr>
</table>