{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
<h1>Citas</h1>

{{form(form)}}

{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}