{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
<h1>Citas</h1>
 {block body %}
<body>
	<h1>Citas</h1>
	{{ ea }}
	{% for cita in citas %}
		{{cita.nombre}}
	{% endfor %}
</body

{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}