{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
<h1>Servicios</h1>

<table>
	{% for servicio in servicios %}
        <tr>
			<td><a href="{{ path('app_servicio_detalles', { id: servicio.id }) }}">{{servicio.nombre}}</a></td>
		</tr>
    {% endfor %}
</table>

{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}