{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
<h1>Servicios</h1>

<table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th{% if pagination.isSorted('s.nombre') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Servicio', 's.nombre') }}
            </th>
        </tr>
 
        {# table body #}
        {% for item in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td> <a href="{{ path('app_servicio_detalles', { id: item.id }) }}">{{ item.nombre }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}