{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
    <h1>Bolsa de trabajo</h1> 
    <p>Formulario en construcción</p>
{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}