{# plantilla/prueba.html.twig' #}
{% extends 'default.html.twig' %}
{% block contenido %}
<h1>Medicos de {{ especialidad.nombre }}</h1>

<table>
    <tr>
		<th>Nombre</th>
	</tr>
	{% for medico in medicos %}
        <tr>
			<td>{{ medico.nombre }}</td>
		</tr>
    {% endfor %}
</table>


{% endblock %}
{% block right %}
{% include 'derecha.html.twig'%}
{% endblock %}