<!-- templates/derecha.html.twig -->


<div id="sidebar"> 
                  <h3>Opciones</h3>  
                  <ul class="vmenu">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <li>
                          <a href="{{ path('app_logout') }}" shape="rect">Logout</a>
                      </li>
                      <li>
                          <a href="{{ path('app_gestion_medicos_index') }}" shape="rect">Gestión de Médicos</a>
                      </li>
                  {% else %}
                      <li>
                          <a href="{{ path('app_login') }}" shape="rect">Login</a>
                      </li>
                  {% endif %}
                  </ul>  
                </div> 